<li class="stats-classified-listing linked-stat">
  <LinkTo @route="userActivity.classifieds">
    <UserStat
      @value={{this.numListings}}
      @label="discourse_classifieds.user_summary.post_count"
      @icon="store"
    />
  </LinkTo>
</li>